p COLLECTION ALBUM
p
    img(class="album-view-image" src=album.imagePath)
p !{album.artists}
p !{album.name}

table(class="table")
    tr
        th track name
        th tempo
    each track in album.tracks
        tr
            td= track.name
            td= track.tempo