table(id="albums-search-result", class="table")
    tr
        th
        th artists
        th album name
        th
    each album in albums
        tr()
            td(class="image")
                img(class="albumImageOnSearchResult" id=album.spotifyId src=album.imagePath)
            td(class="artists")= album.artists
            td(class="name")= album.name
            td(class="button")
                button(id=album.spotifyId class="addAlbumButton") add album