p Spotify album
p
    img(class="album-view-image" src=spotifyAlbum.imagePath)
p !{spotifyAlbum.artists}
p !{spotifyAlbum.name}
p
    button(id=spotifyAlbum.spotifyId class="addAlbumButton") Add album

table(class="table")
    tr
        th Track
        th Tempo
        th
    each track in spotifyAlbum.spotifyTracks
        tr
            td= track.name
            td= track.audioFeatures.tempo
            td
                button(id=track.spotifyId class="addTrackButton") Add track