table(class="table")
    th
    th Artists
    th Track
    th
    each track in spotifyTracks
        tr
            td(class="tableTdImg")
                img(class="trackImageOnSearchResult" id=track.spotifyId src=track.imagePath)
            td= track.artists
            td= track.name
            td(class="tableTdButton")
                button(id=track.spotifyId class="addTrackButton") +