table(class="table")
    tr
        th
        th artists
        th album name
        th
    each album in spotifyAlbums
        tr
            td
                img(class="albumImageOnSearchResult" id=album.spotifyId src=album.imagePath)
            td= album.artists
            td= album.name
            td
                button(id=album.spotifyId class="addAlbumButton") add album