table(class="table")
    tr
        th
        th Artists
        th Album
        th
    each album in spotifyAlbums
        tr
            td(class="tableTdImg")
                img(class="albumImageOnSearchResult" id=album.spotifyId src=album.imagePath)
            td= album.artists
            td= album.name
            td(class="tableTdButton")
                button(id=album.spotifyId class="addAlbumButton") +