table(id="tracks-search-result", class="table")
    th
    th author
    th track name
    th
    each track in tracks
        tr()
            td(class="image")
                img(class="trackImageOnSearchResult" id=track.spotifyId src=track.imagePath)
            td(class="artists")= track.artists
            td(class="name")= track.name
            td(class="button")
                button(id=track.spotifyId class="addTrackButton") add track